#navbar{
    width: 100%;
}

#a-logo{
    width: 5%;
}

#logo{
    width: 100%;
}

.nav-link{
    color: #000;
    font-size:1.5rem;
}

#div-carrito{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#a-carrito{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
}

#logo-carrito{
    width: 100%;
}

#h2-saludo{
    margin-left: 20px;
    margin-top: 20px;
}

.listaItem{
    display:flex;
    flex-wrap:wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.card-img-top{
    width: 85%;
}

#card-detail{
    width: 35%;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.detailItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count-container__qty{
    margin-left: 20px;
    margin-right: 20px;

}