#navbar{
    width: 100%;
}

#a-logo{
    width: 5%;
}

#logo{
    width: 100%;
}

.nav-link{
    color: #000;
    font-size:1.5rem;
}

#div-carrito{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#a-carrito{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6%;
}

#logo-carrito{
    width: 100%;
}

#h2-saludo{
    margin-left: 20px;
    margin-top: 20px;
}

.listaItem{
    display:flex;
    flex-wrap:wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.card-img-top{
    width: 85%;
}

#card-detail{
    width: 30%;
    text-align: center;
}

#agregar-al-carrito{
    margin-bottom: 15px;
}

#terminar-compra{
    color: #000;
    font-size: 1.2rem;
    border-style: solid;
    padding: 2px;
}

.detailItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count-container__qty{
    margin-left: 20px;
    margin-right: 20px;

}

#form{
    margin-left: 20px;
}

#welcome{
    margin-left: 20px;
    margin-top: 20px;
}

.div-seguir{
    margin-left: 20px;
    margin-top: 20px;
}

.div-cart{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
    border-style: solid;
}

.nombre-cart{
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
}

.imagen-cart{
    width: 20%;
    margin-right: 30px;
}

.precio-cart{
    margin-right: 30px;
}

.cantidad-cart{
    margin-right: 30px;
}

.eliminar-item{
    color: white;
    background-color: red;
}

.div-precio-total{
    margin-left: 20px;
}

.button-vaciar{
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1-gracias{
    margin-left: 20px;
    margin-top: 40px;
    text-align: center;
}

.cart-number{
    padding-left: 10px;
    padding-top: 15px;
    color: #000;
}